h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-pafing-inline: 13%;
	--footer-padding-inline: 10%;

	@media screen and (max-width: 768px) {
		--container-pafing-inline: 6%;
		--footer-padding-inline: 6%;
	}

	@media screen and (max-width: 576px) {
		--container-pafing-inline: 15px;
		--footer-padding-inline: 15px;
	}
}


html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.container {
	padding: 0 var(--container-pafing-inline)
}

.title {
	text-align: center;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);

	span {
		position: relative;
	}

	span::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		right: 0;
		width: 75px;
		height: 2px;
		background-color: #000;
	}

	@media screen and (max-width: 768px) {
		font-size: 36px;
	}

	@media screen and (max-width: 576px) {
		font-size: 24px;
	}
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;

	@media screen and (max-width: 576px) {
		min-height: 500px;
		padding-top: 50px;
	}
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);

	@media screen and (max-width: 768px) {
		font-size: 48px;
	}

	@media screen and (max-width: 576px) {
		font-size: 26px;
	}
}

.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light-color);

	@media screen and (max-width: 576px) {
		margin-top: 30px;
		font-style: 16px;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	border: 1px solid var(--light-color);
	background: rgba(217, 217, 217, 0);
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	cursor: pointer;
	transition: all 0.3s ease-out;

	@media screen and (max-width: 576px) {
		font-size: 14px;
		width: 120px;
		min-height: 30px;
	}
}

.btn:hover {
	box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
	font-weight: 500;
}

.promo__address {
	position: relative;
	margin-top: 100px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -45px;
		top: -17px;
		width: 40px;
		height: 49px;
		background: url("../icons/arrow.svg") center center / cover no-repeat;

	}

	@media screen and (max-width: 768px) {
		&::before {
			left: -40px;
		}
	}

	@media screen and (max-width: 750px) {
		&::before {
			display: none;
		}
	}

	@media screen and (max-width: 576px) {
		margin-top: 233px;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

	li {
		list-style-type: none;
		font-weight: 100;
		font-size: 10px;
		color: var(--light-color);
	}

	@media screen and (max-width: 1440px) {
		& {
			padding: 0 20px;
		}
	}

	& li:nth-last-child(-n+6) {
		display: none;
	}

	@media screen and (max-width: 576px) {
		& {
			margin-top: 10px;
		}

		& li:nth-last-child(-n+11) {
			display: none;
		}
	}
}

.about {
	background-color: var(--light-color);
	padding-top: 80px;
}

.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
}

.about__text {
	width: 1100px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);

	span {
		color: #a5a5a5;
	}

	@media screen and (max-width:1440px) {
		width: 100%;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		position: relative;
		margin-top: 10px;
		list-style-type: none;
		font-weight: 400;
		font-size: 16px;
		color: var(--dark-color);

		&:first-child::before {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			top: 2px;
			width: 15px;
			height: 15px;
			background: url('../icons/camera.svg') center center / cover no-repeat;
		}

		&:nth-child(3)::before {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			top: 2px;
			width: 15px;
			height: 15px;
			background: url('../icons/edit.svg') center center / cover no-repeat;
		}
	}
}

.services__items-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-color);
}

.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.services__text::selection {
	background-color: gray;
}

.works {
	padding-top: 80px;
	background-color: var(--light-color);

	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	column-gap: 30px;
	row-gap: 50px;
	margin-top: 50px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}

	@media screen and (max-width: 768px) {
		gap: 30px 20px;
		margin-top: 40px;
	}

	@media screen and (max-width: 576px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr) 1.5fr;
		gap: 30px 0px;
	}
}

.inspiration {
	padding-top: 80px;
	background-color: var(--light-color);
}

.inspiration__grid {
	/* height: 466px; */
	margin-top: 53px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
}

#tenement {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: stretch;
}

#sky {
	grid-column-start: 2;
	grid-row-start: 2;
	grid-column-end: 4;
	align-self: stretch;
}

#cat {
	align-self: stretch;
}

.customers {
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: var(--light-color);
}

.customers__wrapper {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	img {
		width: calc((100% - 90px) / 4);
		box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 88px var(--footer-padding-inline);
	background-color: #000;
	font-weight: 400;
	font-size: 20px;
	color: var(--light-color);
	line-height: normal;
}

.footer__addr {
	font-style: normal;
}

.footer__tel {
	color: var(--light-color);
	text-decoration: none;
}

.footer__social {
	padding-left: 0;
	display: flex;
	column-gap: 30px;
	list-style: none;

	li {
		background: rgba(217, 217, 217, 0);
		border: 1px solid var(--light-color);
		width: 32px;
		height: 32px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				width: 22px;
				height: 22px;
			}
		}
	}
}